@import "~bootstrap/scss/functions";

@import "colors.scss";

@import "~bootstrap/scss/variables";
$enable-dark-mode: false;
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/utilities/api";

// Hide elements tagged as dc-htmx-hideicator while performing htmx requests
.htmx-request .dc-htmx-hideicator {
  display: none;
}

// Disable form buttons during htmx requests
form.htmx-request button {
  pointer-events: none;
  opacity: 0.65;
}

// Hide HTMX indicators by default (in case JS is disabled, usually hidden inline by htmx.js)
.htmx-indicator {
  opacity: 0;
}

// Icon size on buttons
.btn svg {
  width: 1.3em;
  height: 1.3em;
  vertical-align: text-top;
}

// Full-height navbar buttons with icons
:root {
  --bs-nav-link-font-size: 1em;
}
button.navbar-toggler svg {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}
button.navbar-toggler:focus {
  box-shadow: none;
}
a.nav-link {
  padding-left: 1em;
}
a.nav-link svg {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .5em;
}
ul.navbar-nav {
  margin-top: .5rem;
}
@include media-breakpoint-up(sm) {
  ul.navbar-nav {
    column-gap: 2px;
    margin-top: 0;
  }
  header.navbar {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 4.1rem;
  }
  li.nav-item {
    padding-left: 0;
  }
  a.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  a.nav-link:hover {
    text-decoration: underline;
  }
  a.nav-link svg {
    margin-right: 0;
  }
}

@import "theme.scss";
