@import "~bootstrap/scss/functions";

$primary: #dd2727;
$dark: #002557;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/utilities/api";

// Hide elements tagged as dc-htmx-hideicator while performing htmx requests
.htmx-request .dc-htmx-hideicator {
  display: none;
}

// Disable form buttons during htmx requests
form.htmx-request button {
  pointer-events: none;
  opacity: 0.65;
}

// Prevent a spinner that is hidden by default to fade out on page load
div.htmx-indicator.spinner-border {
  transition: none;
}